#banner
  .banner_content
    %h1 EVERNOTE CLONE
    %p Your Life's Work!
    %button= link_to "Sign Up", new_user_registration_path
#testimonial
  .wrapper
    %p.quote "I keep all our important documents with Evernote Clone." 
    %p.name - President Obama
#callouts 
  .callout_inner
    .wrapper
      .callout
        %h2 Journal
        Street art artisan mixtape, Schlitz Banksy tofu art party messenger bag Bushwick McSweeney's literally Tumblr roof party try-hard locavore. Jean shorts kitsch biodiesel American Apparel. 

      .callout
        %h2 Notes
        Street art artisan mixtape, Schlitz Banksy tofu art party messenger bag Bushwick McSweeney's literally Tumblr roof party try-hard locavore. Jean shorts kitsch biodiesel American Apparel. 

      .callout
        %h2 Epic
        Street art artisan mixtape, Schlitz Banksy tofu art party messenger bag Bushwick McSweeney's literally Tumblr roof party try-hard locavore. Jean shorts kitsch biodiesel American Apparel. 

#bottom_cta
  .wrapper
    %h2 Store All Your Notes! 
    %p Be Different, Join the Elite!
    %button= link_to "Start Here!", new_user_registration_path 

%footer
  %p &copy; Natronimus